name: Release new version
on: 
  workflow_dispatch :
    inputs:
      level:
        description: 'Level to bump'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Checkout the branch
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup git config
        run: |
          # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
          git config user.name "Bjarne"
          git config user.email "<>"

      - name: Patch package.json
        run: npm version ${{ inputs.level }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: yarn
      - name: Build PhoenixJS
        run: npm run build
      - run: npm publish
      - name: commit
        run: |
          git push --all
